<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
           {{massage}}<br>
           {{myname}}
       </div> 
      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
           massage:'hello world',
           myname:'sorawit sangnak'}    
      });
      </script>

    </body>
</html>