<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
          <input type="text" placeholder="Your name" v-model="person.name"><br>
          <input type="text" placeholder="Your surname"v-model="person.surname"><br>
          <input type="text" placeholder="Your age"v-model="person.age"><br><br>
          <br>
          <br>


          <input type="radio"  id="male" value="male"v-model="person.gender">
          <label for="male">Male</label><br>
          
          <input type="radio"  id="female" value="female"v-model="person.gender">
          <label for="female">Female</label><br>
          <br>
          <br>


          <input type="checkbox"  id="dog" value = "dog" v-model="person.pet">
          <label for="dog">Dog</label>
          
          <input type="checkbox" id="cat"value = "cat"v-model="person.pet">
          <label for="cat">Cat</label>

               
          <input type="checkbox" id="bird" value = "birth" v-model="person.pet">
          <label for="bird">birth
          </label>
          <br>
          <select v-model="person.role">
              <option value="" >Select role</option>
              <option value="admin" >admin</option>
              <option value="user" >user</option>
          </select>
       <span>{{person}}</span>
       </div> 
      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{person :{
           name:'',
           surname:'',
           age:'',
           gender:'',
           pet:[],
           role:'',


       }
           }    
      });
      </script>

    </body>
</html>