<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
           {{massage}}<br>
           {{myname}}
       </div> 
      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
           massage:'hello world',
           myname:'sorawit sangnak'}    
      });
      </script>
  
  <div id="app2">  
    <a v-bind:href="googlelink">
        {{googlename}}
    </a>
      
  </div>
  <script>
   var app2 = new Vue({
     //element
     el:"#app2",
     data:{
         googlename:'google',
         googlelink:'https://www.google.com'}    
    });
    </script>
    </body>
</html>