<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
         <button v-on:click="count++">{{count}}</button>
         
       </div> 
      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
           count:0
       }
      });
      </script>

    </body>
</html>