<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app">
         <input type="number" v-model="number1">
         +
         <input type="number" v-model="number2">
         =
         <span>{{ add }}</span>
        
       </div> 
      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{ number1:0,
              number2:0,
              result:0,
          } ,
          computed: {
              add:function(){
                return this.result=parseInt(this.number1)+parseInt(this.number2)
              }
          },
             
      });
      </script>

    </body>
</html>